<div class="d-flex">
  <!-- Sidebar -->
  <div class="flex-grow">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; position: fixed;">
      <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="path/to/profile-image.jpg" alt="User Profile" class="profile-image me-2">
        <span class="fs-4">User Name</span>
      </div>
      <hr>
      <ul class="nav nav-pills flex-column my-5">
        <li>
          <a routerLink="/Admin/info" class="nav-link text-white">
            <i class="fa-solid fa-circle-info"></i>
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Info
          </a>
        </li>
        <li>
          <a routerLink="/Admin/servicelist" class="nav-link text-white">
            <i class="fa-solid fa-hand-holding-heart"></i>
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Services
          </a>
        </li>
        <li>
          <a routerLink="/Admin/Packagelist" class="nav-link text-white">
            <i class="fa-solid fa-boxes-stacked"></i>
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Packages
          </a>
        </li>

        <li>
          <a routerLink="/SuperAdmin/Admins" class="nav-link text-white">
              <i class="fa-solid fa-users-rectangle"></i>
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Admins
          </a>
      </li>
      <li>
          <a routerLink="/SuperAdmin/Customers" class="nav-link text-white">
              <i class="fa-solid fa-users"></i>
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                   Customers
          </a>
      </li>
      <li>
          <a routerLink="/SuperAdmin/CustomerService" class="nav-link text-white">
              <i class="fa-solid fa-headset"></i>
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Customer Service
          </a>
      </li>

      </ul>
    </div>
  </div>

  <!-- Main content area -->
  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
