<div class="wrapper">
    <h2 class="mb-4 mt-4">Unpaid Bookings</h2>
    <div *ngIf="AllBookingPackages.length === 0" class="no-bookings">
        <p>There Are No Bookings To Pay</p>
    </div>
    <div *ngFor="let booking of AllBookingPackages; let i = index" class="booking-card">
        <div class="card mb-3" style="max-width: 700px;">
            <div class="row no-gutters">
                <div class="col-md-4 img">
                    <img [src]="'../../../assets/' + booking?.packageImage" alt="Dynamic Image" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{booking?.packageName}}</h5>
                        <!--<p class="card-text p"><b>Price : </b> <span class="price">{{booking?.id}}</span></p>-->
                        <p class="card-text p"><b>Price : </b> <span class="price">${{booking?.price}}</span></p>
                        <p class="btns">
                            <button (click)="payment(booking.id, booking.price)"
                                class="btn btn-primary">Checkout</button>
                        </p>
                        <p class="btns">
                            <button (click)="Remove(booking.id)" class="btn btn-danger">Remove</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>