<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-7">
        <div class="card " style="border-radius: 1rem;">
          <div class="card-body p-5 " id="loginCard">

            <div class="mb-md-6 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase text-center">Password Reset</h2>
              <p class="text-white-50 mb-4 text-center">Enter your email address and we'll send you an email with instructions to reset your password.</p>

              <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Email</label>
                  <input type="email" id="typeEmailX" formControlName="email" class="form-control form-control-lg" />
                  <div *ngIf="emailNotFound" class="text-danger">
                    Email not found in the system.
                  </div>
                  <div *ngIf="forgetPasswordForm.get('email')!.touched && forgetPasswordForm.get('email')!.invalid" class="text-danger">
                    Valid email is required.
                  </div>
                </div>

                <div class="text-center">
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Reset password</button>
                </div>
              </form>

            </div>
            <div class="d-flex justify-content-between mt-4">
              <label for="loginLink">
                <a id="loginLink" class="text-white-50" routerLink="/login">Login</a>
              </label>
              <label for="registerLink">
                <a id="registerLink" class="text-white-50" routerLink="/signup">Register</a>
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
