<!-- <app-super-admin-layout></app-super-admin-layout> -->
<!-- <app-login></app-login>
<app-sign-up></app-sign-up>
<app-forget-password></app-forget-password>
<app-reset-password></app-reset-password>
<app-contact-us></app-contact-us> -->
<!-- <app-contact-us></app-contact-us>  -->
<!-- <router-outlet></router-outlet>
<app-admin-packages></app-admin-packages>
<app-admin-services></app-admin-services> -->
<!-- <app-super-admin-container></app-super-admin-container> -->
<!-- <app-super-admin-container></app-super-admin-container> -->

<!-- <div class="d-flex">
  <div class="flex-grow">
      <app-sidebar></app-sidebar>
  </div>
  <div class="flex-grow-1">
    <app-add-package></app-add-package>

  </div>

</div>-->
<!--
<app-admin-packages></app-admin-packages>
 <app-packages-list></app-packages-list>
  <app-admin-services></app-admin-services>
<router-outlet></router-outlet> -->
<!-- <app-admin-layout></app-admin-layout> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-login></app-login> -->
<!-- <app-admin-layout></app-admin-layout> -->
<!-- <app-navbar></app-navbar> -->
<router-outlet></router-outlet>
