<div class="main">
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm" id="signup-form" class="signup-form">
          <h2 class="form-title">Create account</h2>
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>

          <!-- Error messages for name -->
          <div *ngIf="signUpForm.get('name')?.touched && signUpForm.get('name')?.errors?.['required']" class="error">
            Your Name is required.
          </div>
          <div class="form-group">
            <label for="name" class="form-label">Your Name</label>
            <input type="text" class="form-input" formControlName="name" id="name" placeholder="Your Name"/>
          </div>

          <!-- Error messages for email -->
          <div *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.errors?.['required']" class="error">
            Your Email is required.
          </div>
          <div *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.errors?.['email']" class="error">
            Please enter a valid Email.
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Your Email</label>
            <input type="email" class="form-input" formControlName="email" id="email" placeholder="Your Email"/>
          </div>

          <!-- Error messages for password -->
          <div *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.errors?.['required']" class="error">
            Password is required.
          </div>
          <div *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.errors?.['pattern']" class="error">
            Password must contain at least one uppercase letter, one number, and one special character.
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-input" formControlName="password" id="password" placeholder="Password"/>
          </div>

         <!-- Error messages for confirmPassword -->
<div *ngIf="signUpForm.get('confirmPassword')?.touched && signUpForm.get('confirmPassword')?.errors?.['required']" class="error">
  Confirm Password is required.
</div>
<div *ngIf="signUpForm.get('confirmPassword')?.touched && signUpForm.hasError('passwordMismatch')" class="error">
  Passwords do not match.
</div>
<div class="form-group">
  <label for="re_password" class="form-label">Repeat your password</label>
  <input type="password" class="form-input" formControlName="confirmPassword" id="re_password" placeholder="Repeat your password"/>
</div>


          <!-- Terms agreement -->
          <div class="form-group d-flex justify-content-center align-items-center">
            <input type="checkbox" formControlName="agreeTerms" id="agree-term" class="agree-term" />
            <label for="agree-term" class="label-agree-term">
              <span style="margin-left: 5px;"><span></span></span> I agree to all statements in
              <a href="#" class="term-service">Terms of service</a>
            </label>
          </div>

          <!-- Submit button -->
          <button class="form-submit" type="submit" [disabled]="submitting || signUpForm.invalid">
            <span *ngIf="submitting">Submitting...</span>
            <span *ngIf="!submitting && signUpForm.valid">Sign up</span>
            <span *ngIf="!submitting && signUpForm.invalid">Please enter data correct</span>
          </button>


        </form>

        <!-- Social signup options -->
        <!-- <div>
          <p class="mt-4 text-center">Or Signup Using :</p>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-4">
          <div class="d-flex">
            <a href="#!" class="text-decoration-none me-3">
              <i class="fab fa-facebook-f fa-lg text-primary"></i>
            </a>
            <a href="#!" class="text-decoration-none me-3">
              <i class="fab fa-twitter fa-lg text-info"></i>
            </a>
            <a href="#!" class="text-decoration-none">
              <i class="fab fa-google fa-lg text-danger"></i>
            </a>
          </div>
        </div> -->

        <!-- Login link -->
        <p class="loginhere">
          Have already an account? <a routerLink="/login" class="loginhere-link">Login here</a>
        </p>
      </div>
    </div>
  </section>
</div>
