<app-navbar></app-navbar>
<!-- src/app/your-component/your-component.component.html -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/header35-img.png" alt="First slide">
      <div class="carousel-caption d-none d-sm-block">
        <h2>Travel Beyond Limits</h2>
        <p>Uncover hidden gems and unique experiences with our exclusive travel packages.</p>
        <button><a class="text-white text-decoration-none" routerLink="/packages">Explore Now</a></button>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/slider/pngtree-the-airplane-wing-is-seen-above-the-clouds-at-sunset-image_13152186.png" alt="Second slide">
      <div class="carousel-caption d-none d-sm-block">
        <h2 style="color:black;">Travel Beyond Limits</h2>
        <p style="color:black;">Uncover hidden gems and unique experiences with our exclusive travel packages.</p>
        <button><a class="text-white text-decoration-none" routerLink="/packages">Explore Now</a></button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!--        pACKAGES -->
        <div class="container packages">
          <h1 class="headline">PACKAGES</h1>
          <div class="row">
            <div *ngFor="let item of packages | slice : -4; let i = index" class="col-12 col-md-4 col-lg-3 mb-4">
              <div class="card">
                <img [src]="'../../../assets/'+ item?.image" alt="Dynamic Image" />
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text">{{item.description}}</p>
                  <p class="card-text price" style="color: rgb(13, 110, 253);">{{item.price}}$</p>
                  <div class="footer">
                    <p>
                      <a class="waves-effect waves-light btn" [routerLink]="['/packageDetails', item.id]">Read More</a>
                      <a id="heart"><span class="like"><i class="fab fa-gratipay"></i></span></a>
                    </p>
                    <button class="book-btn" (click)="bookPackage(item.id)">Book now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<div>

  <section class="ezy__service2">
    <div class="container">
      <div class="row justify-content-center mb-md-5">
        <div class="col-lg-6 text-center">
          <h2 class="ezy__service2-heading mb-4">Packages Services</h2>
          <p class="ezy__service2-sub-heading mb-0">
          Enjoy seamless travel experiences with our top-notch flight services. It’s easier to reach your dream destination with
          our carefully curated flight options, ensuring comfort and convenience at every step of your journey
          </p>
        </div>
      </div>
      <div class="row text-center ezy__service2-card">
        <div class="col-md-4 mt-5 mt-md-0">
          <div class="card ezy__service2-item">
            <div class="card-body px-lg-4 py-lg-5">
              <div class="ezy__service2-icon mb-4">
                <i class="fa-solid fa-plane"></i>
              </div>
              <h4 class="ezy__service2-title fs-4 mb-3">Flight</h4>
              <p class="ezy__service2-content mb-0">
                Relax in style with our premium hotel accommodations. It’s easier to unwind and rejuvenate with our handpicked hotels,
                offering the perfect blend of luxury and comfort to make your stay memorable
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5 mt-md-0">
          <div class="card ezy__service2-item">
            <div class="card-body px-lg-4 py-lg-5">
              <div class="ezy__service2-icon mb-4">
                <i class="fa-solid fa-hotel"></i>
              </div>
              <h4 class="ezy__service2-title fs-4 mb-3">Hotels</h4>
              <p class="ezy__service2-content mb-0">
              Explore your destination with ease using our reliable transportation services. It’s easier to navigate and discover new
              places with our efficient transport options, tailored to provide a hassle-free travel experience.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5 mt-md-0">
          <div class="card ezy__service2-item">
            <div class="card-body px-lg-4 py-lg-5">
              <div class="ezy__service2-icon mb-4">
                <i class="fa-solid fa-car-side"></i>
              </div>
              <h4 class="ezy__service2-title fs-4 mb-3">Transfers</h4>
              <p class="ezy__service2-content mb-0">
                Sed ut in perspiciatis unde omnis iste natus error sit on i
                tatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  <app-footer></app-footer>


