<app-navbar></app-navbar>
<section
  class="ezy__travel1"
  style="
    background-image: url(https://cdn.easyfrontend.com/pictures/hero/header35-img.png);
  "
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          id="ezy__travel1-controls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8 text-center">
                  <h2 class="ezy__travel1-heading mb-4">Your Journey Begins</h2>
                  <div class="row justify-content-center">
                    <div class="col-12 col-lg-11 col-xl-9">
                      <p class="ezy__travel1-sub-heading">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nulla posuere ipsum molestie sem volutpat, non imperdiet
                        leo porttitor. Nullam tortor nibh, dictum vitae
                        porttitor eu, pharetra nec tellus.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8 text-center">
                  <h2 class="ezy__travel1-heading mb-4">Your Journey Begins</h2>
                  <div class="row justify-content-center">
                    <div class="col-12 col-lg-11 col-xl-9">
                      <p class="ezy__travel1-sub-heading">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nulla posuere ipsum molestie sem volutpat, non imperdiet
                        leo porttitor. Nullam tortor nibh, dictum vitae
                        porttitor eu, pharetra nec tellus.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8 text-center">
                  <h2 class="ezy__travel1-heading mb-4">Your Journey Begins</h2>
                  <div class="row justify-content-center">
                    <div class="col-12 col-lg-11 col-xl-9">
                      <p class="ezy__travel1-sub-heading">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nulla posuere ipsum molestie sem volutpat, non imperdiet
                        leo porttitor. Nullam tortor nibh, dictum vitae
                        porttitor eu, pharetra nec tellus.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ezy__travel1-arrows d-flex align-items-center">
            <button
              class="carousel-control-prev ezy__travel1-arrow-left me-4"
              type="button"
              data-bs-target="#ezy__travel1-controls"
              data-bs-slide="prev"
            >
              <i class="fas fa-arrow-left"></i>
            </button>
            <button
              class="carousel-control-next ezy__travel1-arrow-right"
              type="button"
              data-bs-target="#ezy__travel1-controls"
              data-bs-slide="next" >
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
<div class="container SERVICE">
  <h1 class="headline">SERVICES</h1>
        <div class="row">
        <div *ngFor="let item of services | slice : -4; let i = index" class="col-12 col-md-4 col-lg-3 mb-4">
    <div class="card" >
         <img [src]="'../../../assets/'+ item?.image" alt="Dynamic Image" />
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.description}}</p>
            <p class="card-text">Starts From:{{item.price}} $</p>
                <div class="footer">
                  <p>
                    <a class="waves-effect waves-light btn" [routerLink]="['/serviceDetails', item.id]">Read More</a>
                    <a id="heart"><span class="like"><i class="fab fa-gratipay"></i></span></a>
                  </p>
                  <button class="book-btn" (click)="bookservice(item.id)">Book now</button>
                </div> 
          </div>
        </div>
  </div>
  </div>
  <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div> 
<!-- end of slider -->



<!-- hhhhhhhhhhh -->


<!--        pACKAGES -->
        <div class="container packages">
          <h1 class="headline">PACKAGES</h1>
          <div class="row">
            <div *ngFor="let item of packages | slice : -4; let i = index" class="col-12 col-md-4 col-lg-3 mb-4">
              <div class="card">
                <img [src]="'../../../assets/'+ item?.image" alt="Dynamic Image" />
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text">{{item.description}}</p>
                  <p class="card-text">{{item.price}}$</p>
                  <div class="footer">
                    <p>
                      <a class="waves-effect waves-light btn"  [routerLink]="['/packageDetails', item.id]">Read More</a>
                      <a id="heart"><span class="like"><i class="fab fa-gratipay"></i></span></a>
                    </p>
                    <button class="book-btn" (click)="bookPackage(item.id)">Book now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


  <section class="ezy__service2">
    <div class="container">
      <div class="row justify-content-center mb-md-5">
        <div class="col-lg-6 text-center">
          <h2 class="ezy__service2-heading mb-4">Services We Provide</h2>
          <p class="ezy__service2-sub-heading mb-0">
            Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam
            maiores, illum at, aliquid blanditiis eligendi qui.
          </p>
        </div>
      </div>
      <div class="row text-center ezy__service2-card">
        <div class="col-md-4 mt-5 mt-md-0">
          <div class="card ezy__service2-item">
            <div class="card-body px-lg-4 py-lg-5">
              <div class="ezy__service2-icon mb-4">
                <i class="fa-solid fa-plane"></i>
              </div>
              <h4 class="ezy__service2-title fs-4 mb-3">Flight</h4>
              <p class="ezy__service2-content mb-0">
                Assumenda non repellendus distinctio nihil dicta sapiente,
                quibusdam maiores, illum at, aliquid blanditiis eligendi qui.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5 mt-md-0">
          <div class="card ezy__service2-item">
            <div class="card-body px-lg-4 py-lg-5">
              <div class="ezy__service2-icon mb-4">
                <i class="fa-solid fa-hotel"></i>
              </div>
              <h4 class="ezy__service2-title fs-4 mb-3">Hotels</h4>
              <p class="ezy__service2-content mb-0">
                It’s easier to reach yours have the right savings account. It’s
                easier to reach your savings goals when you have the right
                savings account
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5 mt-md-0">
          <div class="card ezy__service2-item">
            <div class="card-body px-lg-4 py-lg-5">
              <div class="ezy__service2-icon mb-4">
                <i class="fa-solid fa-car-side"></i>
              </div>
              <h4 class="ezy__service2-title fs-4 mb-3">Transfers</h4>
              <p class="ezy__service2-content mb-0">
                Sed ut in perspiciatis unde omnis iste natus error sit on i
                tatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>



