<div class="wrapper">
<div class="card mb-3" style="max-width: 700px;">
    <div class="row no-gutters">
        <div class="col-md-4">
          <img [src]="'../../../assets/'+ Package?.imageUrl" alt="Dynamic Image" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{Package?.name}}</h5>
                <p class="card-text"><b>Description : </b>{{Package?.description}}</p>
                 <p class="card-text"><b>Duration : </b>{{Package?.duration}} Days</p>
                   <p class="card-text p"><b>Price : </b> <span class="price">{{Package?.price}}$</span></p>
                     <p class="btns"><button (click)="Back()" class="btn btn-primary">Back</button></p>
                     <p class="btns"><button (click)="booking()" class="btn btn-info ">Confirm Booking</button></p>
            </div>
        </div>
    </div>
</div>
</div>