
<section class="ezy__epcheckout4 light" id="ezy__epcheckout4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card ezy__epcheckout4-card mb-3">
                    <div class="card-body px-md-4">
                        <h5 class="fs-6 fw-bold mb-0">Booking Review</h5>
                    </div>
                </div>
                <div class="card ezy__epcheckout4-card mb-3">
                    <div class="card-body px-md-4">
                        <div class="row">
                        </div>
                        <div class="d-flex">
                            <div class="me-3">
                                <div class="ezy__epcheckout4-image">
                                    <a href="#!">
                                        <!--<img [src]="'../../../assets/'+{{pac}}" alt=""
                                            class="img-fluid">-->
                                            <img [src]="'../../../assets/'+Package?.image" alt="Dynamic Image" />
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-12 col-xl-6 col-xxl-7">
                                        <div class="ezy__epcheckout4-heading mb-1">
                                            <a href="#!">
                                                Forsining 3d Logo Design Hollow Engraving Black Gold Case Leather
                                                Skeleton Mechanical Watches Men Luxury Brand Heren Horloge
                                            </a>
                                        </div>
                                        <p class="ezy__epcheckout4-content mb-2">
                                            <span class="me-3"><b>Start Date</b>: {{[Package?.startDate]}}</span>
                                            <span class="me-3"><b>Duration</b>: {{Package?.duration}}</span>
                                        </p>
                                      <!--  <button
                                            class="btn ezy__epcheckout4-btn-text ezy__epcheckout4-theme-color py-0 d-inline-flex justify-content-center  align-items-center text-decoration-none">
                                            <i class="fas fa-trash-alt fs-6 me-2"></i> Remove
                                        </button>
                                    </div>-->
                                    <div class="col-12 col-sm-6 col-xl-3 mt-3 mt-xl-0">
                                        <div class="mb-3 ">
                                            <span class="ezy__epcheckout4-price me-2"> ${{Package?.price}}</span>
                                        </div>
                                    </div>
                                   <!-- <div class="col-12 col-sm-6 col-xl-3 col-xxl-2 mt-3 mt-xl-0">
                                        <div class="input-group ezy__epcheckout4-qty align-items-center">
                                            <button class="btn" type="button">-</button>
                                            <input type="text" class="form-control" placeholder="" value="2"
                                                aria-label="Example text with button addon"
                                                aria-describedby="button-addon1">
                                            <button class="btn" type="button">+</button>
                                        </div>-->
                                        <div class="mt-2 text-center">
                                         
                                            <button
                                                class="btn btn-info " (click)="continue()">
                                                Continue
                                            </button>
                                            <button class="btn btn-primary" (click)="Back()">
                                                Back
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="all"> 
                <div id="fill"></div>
                <div class="col-lg-4">
                    <div class="card ezy__epcheckout4-card" id="bookingFormdiv">
                        <div class="card-body p-md-4">
                            <h5 class="fs-5 fw-bold mb-3">Communication Data</h5>
                         <!--  <form [formGroup]="updateForm"  (ngSubmit)="booking()">
                                <div class="form-floating mb-3" id="bookingForm">
                                    <input type="text" class="form-control" id="floatingInput" formControlName="phoneNumber">
                                    <label for="floatingInput">Phone Number</label>
                                    <div
                                        *ngIf="updateForm.controls['phoneNumber'].invalid && (updateForm.controls['phoneNumber'].dirty || updateForm.controls['phoneNumber'].touched)">
                                        <div *ngIf="updateForm.controls['phoneNumber'].errors?.['required']">Phone number is required.
                                        </div>
                                        <div *ngIf="updateForm.controls['phoneNumber'].errors?.['pattern']">Invalid phone number format.
                                        </div>
                                    </div>
                                </div>
                
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingPassport" formControlName="passportNumber">
                                    <label for="floatingPassport">Passport Number</label>
                                    <div
                                        *ngIf="updateForm.controls['passportNumber'].invalid && (updateForm.controls['passportNumber'].dirty || updateForm.controls['passportNumber'].touched)">
                                        <div *ngIf="updateForm.controls['passportNumber'].errors?.['required']">Passport number is
                                            required.</div>
                                    </div>
                                </div>
                
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" id="floatingResidence" formControlName="residenceCountry">
                                    <label for="floatingResidence">Residence Country</label>
                                    <div
                                        *ngIf="updateForm.controls['residenceCountry'].invalid && (updateForm.controls['residenceCountry'].dirty || updateForm.controls['residenceCountry'].touched)">
                                        <div *ngIf="updateForm.controls['residenceCountry'].errors?.['required']">Residence country is
                                            required.</div>
                                    </div>
                                </div>
                
                                <button class="btn ezy__epcheckout4-btn w-100 mt-4 fs-6" type="submit"
                                    [disabled]="updateForm.invalid">Proceed to Pay</button>
                            </form>-->
                        <!-- add-booking-package.component.html -->
                        
                        <form [formGroup]="updateForm" (ngSubmit)="booking()">
                            <label for="phoneNumber">Phone Number</label>
                            <input id="phoneNumber" formControlName="phoneNumber" type="text">
                            <div *ngIf="updateForm.get('phoneNumber')?.invalid && updateForm.get('phoneNumber')?.touched">
                                Please enter a valid phone number.
                            </div>
                        
                            <label for="passportNumber">Passport Number</label>
                            <input id="passportNumber" formControlName="passportNumber" type="text">
                            <div *ngIf="updateForm.get('passportNumber')?.invalid && updateForm.get('passportNumber')?.touched">
                                Passport number is required.
                            </div>
                        
                            <label for="residenceCountry">Residence Country</label>
                            <input id="residenceCountry" formControlName="residenceCountry" type="text">
                            <div *ngIf="updateForm.get('residenceCountry')?.invalid && updateForm.get('residenceCountry')?.touched">
                                Residence country is required.
                            </div>
                        
                            <button type="submit" [disabled]="isSubmitting || !updateForm.valid">Submit</button>
                        </form>
                        </div>
                    </div>
                </div>
                </div>


        