<p>pagination works!</p>
<p>Default pagination:</p>
<!-- <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination" />

<p>No direction links:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" [directionLinks]="false" />

<p>With boundary links:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true" /> -->

<div class="pagination">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
</div>

