<div class="container">
  <h2>Services List</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>quantityAvailable</th>
        <th>Details</th>
        <th>Update</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      @for (item of service; track $index) {
      <tr >
        <td>{{item.id}}</td>
        <td>{{ item.name}}</td>
        <td>{{ item.quantityAvailable}}</td>
        <td>
          <button class="btn btn-info" (click)="viewDetails(item.id)">Details</button>
        </td>
        <td>
          <button class="btn btn-warning" (click)="updateService(item.id)">Update</button>
        </td>
         <td>
           <button class="btn btn-danger" (click)="removeService(item.id)">Remove</button>
        </td>
      </tr>
    }
    </tbody>
  </table>
  <button class="btn btn-info" (click)="addService()">Add</button>
